@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-roxo {
    background-color: #5000B7;
  }
  .text-roxo {
    color: #5000B7;
  }
  .icon-roxo {
    color: #5000B7;
  }
  /* styles.css */
.side-menu {
  transition: width 0.3s ease-in-out;
}


  
}
